<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Assembly report</title>
    {% include 'css.jinja2.html' %} 
    {% include 'javascript.jinja2.html' %}
   </head>
<body>
    {% include 'navigation.jinja2.html' %}

    <!-- INPUT REPORT -->
    {% include 'input_report.jinja2.html' %}

    {% include 'canu_report.jinja2.html' %} 

   <!-- CANU ANALYSIS -->

<h1 id="header-canu-contig-on-canu-paf">Canu contig on Canu paf</h1> 

<div class="explanation">
  We assign a different color to each connected component of the PAF according to the 
contigs.
</div>

<div>
<button id="hide_canu_contig_on_paf">Show contig projection</button>
</div>

<div id="canu_contig_on_paf" class="graph_image">
   <img src="data:image/png;base64,{{canu_contig_paf}}"/>
</div>

</body>
</html>


