  <!-- CANU VS. MINIMAP PAF -->
<h1 id="header-canu-contig-on-minimap-paf">Canu contig on Minimap SG</h1>

<div class="explanation">
  We assign a different color to each connected component of the Canu BOG (assimilate to Canu contig), and colored read of Minimap SG with this.
</div>

<div>
<button id="hide_canu_contig_mini">Show contig projection</button>
</div>
<div id="canu_contig_mini" class="graph_image">
   <img class="eighty_img" src="data:image/png;base64,{{canu_contig_mini}}"/>
</div>

<h3 id="header-path-search-between-each-contig-mini">Path search between each contig</h3>

<div class="explanation">
For each free read contig extremity, we search path to other free read contig extermity.

<ul>
    <li>If case have no button we didn't run path search (same contig read)</li>
    <li>If text of button is False we didn't find path between reads but me generate a little dfs (max deep is 10) for each</li>
    <li>If text of button is True we find a path between reads and perform a dfs for each (max deep is <code>shortest path length * 2</code>) and make union of this graph</li>
    <li>Target reads have arrow shape</li>
    <li>Node color correspond to graph projection color</li>
</ul>
</div>

<h4>Augmented contig graph</h4>

<div id="minimap_contig_network"></div>

<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet([
    {{minimap_contig_graph_node}}
  ])
  // create an array with edges
  var edges = new vis.DataSet([
    {{minimap_contig_graph_edge}}
  ]);

  // create a network
  var container = document.getElementById('minimap_contig_network');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
      height: '600px',
      width: '600px',
      nodes: {
	  shape: 'dot',
	  },
      physics: {
	forceAtlas2Based: {
	    avoidOverlap: 400
	},
	solver: 'forceAtlas2Based',
      }
  };
  var network = new vis.Network(container, data, options);
</script>

<h4 id="minimap_path_name"></h4>
<div id="minimap_path_content">
</div>

<div id="minimap_path_table">
    <table class="dataframe sortable", border=1>
        <tr>
            <th> ~ </th>
            {% for readA, tigA in minimap_path_readA %}
	    <th title="read : {{readA}}"> tig : {{tigA}}</th>
            {% endfor %}
        </tr>
        {% for readB, tigB in minimap_path_readB %}
        <tr>
            <th title="read : {{readB}}"> tig : {{tigB}}</th>
            {% for readA, tigA in minimap_path_readA %}
            {% if minimap_path_ok[readA][readB] %}
            <td class="path">path len = {{minimap_path_len[readA][readB]}} <button id="button_mini_{{readA}}_{{readB}}">show subgraph</button></td>
            {% else %}
            <td></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <script>
    
    {% for readB, tigB in minimap_path_readB %}
    {% for readA, tigA in minimap_path_readA %}
    {% if minimap_path_ok[readA][readB] %}
    document.getElementById('button_mini_{{readA}}_{{readB}}').onclick = function() {
        document.getElementById('minimap_path_name').innerHTML = "tig : {{tigA}} (read {{readA}}) to tig : {{tigB}} (read {{readB}})";
        document.getElementById('minimap_path_content').innerHTML = "<img src=\"data:image/svg+xml;base64,{{minimap_path_svg[readA][readB]}}\">";
    }
    {% endif %}
    {% endfor %}
    {% endfor %}
    </script>
</div>

