 <!-- CANU REPORT -->
   
<h1 id="header-canu">Canu</h1>

<h3 id="header-canu-statistics">Statistics</h3>
<table>
{% for key, value in canu_stat.items() %}
    <tr><td>{{key}}</td><td>{{value}}</td></tr>    
{% endfor %}
</table>

<h3 id="header-canu-bog">BOG</h3>

<div class="explanation">
The BOG (Best Overlap Graph) is the main graph of Canu
<ul>
<li>Canu keeps just the two best overlaps (the longest) for each read</li>
<li>it checks that the overlap error rate is less than some dynamic threshold</li>
<li>Canu constructs unitigs and contigs based on the BOG (contained reads are removed)</li>
</ul>
</div>

<div>
<button id="hide_bog">Show BOG</button>
</div>

<div id="canu_bog" class="graph_image">
    <p>You can move and zoom in this image.</p>
<canvas id="bog_canvas"></canvas>
<script>
var canvas = document.getElementById('bog_canvas')
canvas.width = 1470; canvas.height = 1000;
	var gkhead = new Image;
	window.onload = function(){		
		var ctx = canvas.getContext('2d');
		trackTransforms(ctx);
		function redraw(){
			// Clear the entire canvas
			var p1 = ctx.transformedPoint(0,0);
			var p2 = ctx.transformedPoint(canvas.width,canvas.height);
			ctx.clearRect(p1.x,p1.y,p2.x-p1.x,p2.y-p1.y);

			ctx.drawImage(gkhead, 0, 0, 1470, 1000);
                }
		redraw();
		
		var lastX=canvas.width/2, lastY=canvas.height/2;
		var dragStart,dragged;
		canvas.addEventListener('mousedown',function(evt){
			document.body.style.mozUserSelect = document.body.style.webkitUserSelect = document.body.style.userSelect = 'none';
			lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
			lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
			dragStart = ctx.transformedPoint(lastX,lastY);
			dragged = false;
		},false);
		canvas.addEventListener('mousemove',function(evt){
			lastX = evt.offsetX || (evt.pageX - canvas.offsetLeft);
			lastY = evt.offsetY || (evt.pageY - canvas.offsetTop);
			dragged = true;
			if (dragStart){
				var pt = ctx.transformedPoint(lastX,lastY);
				ctx.translate(pt.x-dragStart.x,pt.y-dragStart.y);
				redraw();
			}
		},false);
		canvas.addEventListener('mouseup',function(evt){
			dragStart = null;
			if (!dragged) zoom(evt.shiftKey ? -1 : 1 );
		},false);

		var scaleFactor = 1.1;
		var zoom = function(clicks){
			var pt = ctx.transformedPoint(lastX,lastY);
			ctx.translate(pt.x,pt.y);
			var factor = Math.pow(scaleFactor,clicks);
			ctx.scale(factor,factor);
			ctx.translate(-pt.x,-pt.y);
			redraw();
		}

		var handleScroll = function(evt){
			var delta = evt.wheelDelta ? evt.wheelDelta/40 : evt.detail ? -evt.detail : 0;
			if (delta) zoom(delta);
			return evt.preventDefault() && false;
		};
		canvas.addEventListener('DOMMouseScroll',handleScroll,false);
		canvas.addEventListener('mousewheel',handleScroll,false);
	};
	gkhead.src = "data:image/png;base64,{{canu_bog}}";
	
	// Adds ctx.getTransform() - returns an SVGMatrix
	// Adds ctx.transformedPoint(x,y) - returns an SVGPoint
	function trackTransforms(ctx){
		var svg = document.createElementNS("http://www.w3.org/2000/svg",'svg');
		var xform = svg.createSVGMatrix();
		ctx.getTransform = function(){ return xform; };
		
		var savedTransforms = [];
		var save = ctx.save;
		ctx.save = function(){
			savedTransforms.push(xform.translate(0,0));
			return save.call(ctx);
		};
		var restore = ctx.restore;
		ctx.restore = function(){
			xform = savedTransforms.pop();
			return restore.call(ctx);
		};

		var scale = ctx.scale;
		ctx.scale = function(sx,sy){
			xform = xform.scaleNonUniform(sx,sy);
			return scale.call(ctx,sx,sy);
		};
		var rotate = ctx.rotate;
		ctx.rotate = function(radians){
			xform = xform.rotate(radians*180/Math.PI);
			return rotate.call(ctx,radians);
		};
		var translate = ctx.translate;
		ctx.translate = function(dx,dy){
			xform = xform.translate(dx,dy);
			return translate.call(ctx,dx,dy);
		};
		var transform = ctx.transform;
		ctx.transform = function(a,b,c,d,e,f){
			var m2 = svg.createSVGMatrix();
			m2.a=a; m2.b=b; m2.c=c; m2.d=d; m2.e=e; m2.f=f;
			xform = xform.multiply(m2);
			return transform.call(ctx,a,b,c,d,e,f);
		};
		var setTransform = ctx.setTransform;
		ctx.setTransform = function(a,b,c,d,e,f){
			xform.a = a;
			xform.b = b;
			xform.c = c;
			xform.d = d;
			xform.e = e;
			xform.f = f;
			return setTransform.call(ctx,a,b,c,d,e,f);
		};
		var pt  = svg.createSVGPoint();
		ctx.transformedPoint = function(x,y){
			pt.x=x; pt.y=y;
			return pt.matrixTransform(xform.inverse());
		}
	}
</script>
</div>

<h3 id="header-canu-paf">SG</h3>

<div class="explanation">
  The SG (String Graph): all read overlaps seen by Canu.
  <ul>
    <li>Canu (MHAP) computes a signature for each read and uses it to get an estimate of the Jaccard distance between two reads</li>
    <li>Canu then performs overlaps for all pairs of reads with low Jaccard distance</li>
    <li>We convert this overlap in string graph</li>
  </ul>
</div>

<div>
<button id="hide_canu_paf">Show Canu SG</button>
</div>
<div id="canu_paf" class="graph_image">
    <img src="data:image/png;base64,{{canu_paf}}"/>
</div>


<h3 id="header-canu-contigs">Contigs</h3>

<div>
<button id="hide_contig">Show Canu contigs</button>
</div>

<div id="canu_contig" class="graph_image">
    <img src="data:image/png;base64,{{canu_contig}}"/>
</div>

<h3 id="header-canu-unitigs">Unitigs</h3>

<div>
<button id="hide_unitig">Show Canu unitigs</button>
</div>
<div id="canu_unitig" class="graph_image">
   <img src="data:image/png;base64,{{canu_unitig}}"/>
</div>

<h3 id="header-contig-report">Contig report</h3>

{{canu_contig_report_csv}}

<img src="data:image/png;base64,{{canu_contig_report_png}}"/>

<h3 id="header-path-search-between-each-contig">Path search between each contig </h3>

<div class="explanation">
For each free read contig extremity, we search path to other free read contig extermity.

<ul>
    <li>If case have no button we didn't run path search (same contig read)</li>
    <li>If text of button is False we didn't find path between reads but me generate a little dfs (max deep is 10) for each</li>
    <li>If text of button is True we find a path between reads and perform a dfs for each (max deep is <code>shortest path length * 2</code>) and make union of this graph</li>
    <li>Target reads have arrow shape</li>
    <li>Node color correspond to graph projection color</li>
</ul>
</div>

<h4>Augmented contig</h4>

<div id="canu_contig_network"></div>

<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet([
    {{canu_contig_graph_node}}
  ])
  // create an array with edges
  var edges = new vis.DataSet([
    {{canu_contig_graph_edge}}
  ]);

  // create a network
  var container = document.getElementById('canu_contig_network');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
      height: '600px',
      width: '600px',
      nodes: {
	  shape: 'dot',
	  },
      physics: {
	forceAtlas2Based: {
	    avoidOverlap: 400
	},
	solver: 'forceAtlas2Based',
      }
  };
  var network = new vis.Network(container, data, options);
</script>

<h4 id="canu_path_name"></h4>
<div id="canu_path_content">
</div>

<div id="canu_path_table">
    <table class="dataframe sortable", border=1>
        <tr>
            <th> ~ </th>
            {% for readA, tigA in canu_path_readA %}
	    <th title="read : {{readA}}"> tig : {{tigA}} </th>
            {% endfor %}
        </tr>
        {% for readB, tigB in canu_path_readB %}
        <tr>
	    <th title="read : {{readB}}"> tig : {{tigB}} </th>
            {% for readA, tigA in canu_path_readA %}
	    {% if canu_path_ok[readA][readB] %}
            <td class="path">path len = {{canu_path_len[readA][readB]}} <button id="button_{{readA}}_{{readB}}">show graph</button></td>
	    {% else %}
	    <td> </td>
	    {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <script>
    {% for readB, tigB in canu_path_readB %}
    {% for readA, tigA in canu_path_readA %}
    {% if canu_path_ok[readA][readB] %}
    document.getElementById('button_{{readA}}_{{readB}}').onclick = function() {
        document.getElementById('canu_path_name').innerHTML = "tig : {{tigA}} (read {{readA}}) to tig : {{tigB}} (read {{readB}})";
        document.getElementById('canu_path_content').innerHTML = "<img src=\"data:image/svg+xml;base64,{{canu_path_svg[readA][readB]}}\">";
    }
    {% endif %}
    {% endfor %}
    {% endfor %}
    </script>
</div>

