<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Assembly report</title>
    {% include 'css.jinja2.html' %}
    {% include 'javascript.jinja2.html' %}
</head>
<body>
  {% include 'navigation.jinja2.html' %}

  <!-- INPUT REPORT -->
  {% include 'input_report.jinja2.html' %}  
 
  {% include 'canu_report.jinja2.html' %}

  {% include 'canu_on_minimap.jinja2.html' %}

</body>
</html>

