<h1 id="header-miniasm">Miniasm</h1>

<h3 id="header-statistics">Statistics</h3>
<table class="dataframe">
{% for key, value in miniasm_stat.items() %}
    <tr><th>{{key}}</th><td>{{value}}</td></tr>    
{% endfor %}
</table>

<h3 id="header-miniasm-graph">Miniasm graph</h3>
<div>
<button id="hide_miniasm">Show Miniasm</button>
<script>
hide_unhide_button('hide_miniasm', 'miniasm_gfa', 'Miniasm');
</script>
</div>
<div id="miniasm_gfa" class="graph_image">
    <img src="data:image/png;base64,{{miniasm_gfa}}"/>
</div>

